<app-list-header title="Favoritos"> </app-list-header>

<section *ngIf="favorites?.length; else empty">
  <app-character-list
    [characters]="favorites"
    (nextPage)="nextPage($event)"
    class="d-flex flex-column w-100 align-items-center"
  >
  </app-character-list>
</section>

<ng-template #empty>
  <app-empty-list
    title="Parece que você ainda não tem favoritos"
    subTitle="Volte à página inicial e escolha os melhores para você."
  >
    <button
      type="button"
      routerLink="home"
      class="btn btn-lg btn-light mt-4 border-5"
    >
      <span> Voltar ao início </span>
    </button>
  </app-empty-list>
</ng-template>
