<mat-button-toggle-group class="rounded-4 border-1 border-secondary">
  <mat-button-toggle
    [routerLink]="'home'"
    routerLinkActive="mat-button-toggle-checked"
  >
    <mat-icon>home</mat-icon>

    <span class="mx-2"> Início </span>
  </mat-button-toggle>

  <mat-button-toggle
    [routerLink]="'favorites'"
    routerLinkActive="mat-button-toggle-checked"
  >
    <mat-icon>favorite</mat-icon>

    <span class="mx-2"> Favoritos </span>

    <span
      class="count border border-secondary rounded-circle px-2 py-1 text-dark bg-white fw-bold"
    >
      {{ idsLength$ | async }}
    </span>
  </mat-button-toggle>
</mat-button-toggle-group>
